/*OVERALL STUFF ON EVERY PAGE*/

body {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand,
.nav-link {
    color: #f1f1f1;
}

.navbar-brand:hover,
.nav-link:hover {
    color: lightgray;
}

.container {
    position: relative;
    height: 180vh;
    padding-top: 1rem;
    color: #f1f1f1;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    width: 100%;
}

.social-icons li {
    list-style: none;
}

/*HEADER AND VIDEO*/

header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
}

header .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/*HOME INFO*/
.container-fluid .row .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.col-6 .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}

.col-6 a,
.col-6 li a i {
    color: #f1f1f1;
    text-decoration: none;
}

.col-6 a:hover,
.col-6 li a i:hover {
    color: lightgray;
}

#news,
#concerts {
    color: #f1f1f1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

#newsAndConcerts {
    position: absolute;
    bottom: 10vh;
}

#some-text #carousel {
    position: absolute;
    bottom: 10vh;
}

#news h1,
#concerts h1 {
    padding-bottom: 1rem;
}

.locations {
    text-align: left;
}

/*MEIST INFO*/

.facts p,
.facts li,
h1 {
    margin: 0;
    color: #f1f1f1;
}

.facts h1 {
    margin: 0;
}

#meist {
    padding-bottom: 1rem;
}

/*KONTAKT INFO*/
button {
    margin: 1rem;
    width: 50%;
}

#buttons {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
}