@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

/*header*/

#page-heading {
    text-align: center;
    font-size: 3rem;
}

#under-text {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 2rem;
}

#header-img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

/*nav*/

nav {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: salmon;
}

/*meist*/

#text-and-picture {
    display: flex;
    justify-content: center;
}

#meie {
    width: 50%;
    height: auto;
}

#meist, #retseptid {
    padding-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

#meie-info {
    text-align: justify;
    padding-right: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
}

/*erinevad köögid, ringid*/

#erinevad-köögid {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.eesti, .aasia, .itaalia {
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
}

.eesti {
    background-image: url(./img/estonian-cuisine.jpg);
}

.aasia {
    background-image: url(./img/asian-cuisine.jpg);
}

.itaalia {
    background-image: url(./img/italian-cuisine.jpg);
}

#img-description {
    color: white;
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.eesti:hover #img-description, .itaalia:hover #img-description, .aasia:hover #img-description {
    visibility: visible;
    opacity: 1;
}

/*footer, social logos*/

footer {
    background-color: lightgray;
    padding: 2rem 0 2rem 0;
}

.footer {
    display: flex;
}

#twitter, #facebook {
    width: 3rem;
    height: 3rem;
}

.social-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    align-items: center;
}

/*mobile*/

@media only screen and (max-width: 768px) {
    #meie {
        display: none;
    }

    #erinevad-köögid {
        display: flex;
        flex-direction: column;
    }

    .eesti, .itaalia, .aasia {
        margin-bottom: 2rem;
    }

    #img-description {
        opacity: 1;
        visibility: visible;
    }
}

/*no hover on mobile*/
@media only screen and (min-width: 768px) {
    .eesti:hover, .itaalia:hover, .aasia:hover {
        filter: saturate(50%);
        cursor: pointer;
    }
}